### fix  huc12

Script to fix the huc 12 shapefile that does not contain hru_id_nat numbers...

Theodore Barnhart | tbarnhart@usgs.gov

In [4]:
import geopandas as gpd
import numpy as np

In [5]:
fl = './data/nhrus/clean_AEA/nhru_11_clean.shp'
tmp = gpd.read_file(fl)

In [6]:
fl = './data/nhrus/clean_AEA/nhru_13_clean.shp'
tmp2 = gpd.read_file(fl)

In [10]:
fl = './data/nhrus/clean_AEA/nhru_12_clean.shp'
hru12 = gpd.read_file(fl)

In [7]:
tmp.tail()

,POI_ID,hru_id_nat,hru_id_reg,region,geometry
7368,682459,73251,7369,11,POLYGON ((101270.5879001409 -1078036.630578467...
7369,3142526,73252,7370,11,POLYGON ((44547.92986590238 -1051879.781821774...
7370,3142294,73253,7371,11,POLYGON ((29253.43733002225 -1059446.449222879...
7371,13755083,73254,7372,11,POLYGON ((23507.13072380353 -1054186.879168411...
7372,13755103,73255,7373,11,POLYGON ((24238.97268534436 -1057099.252124129...

In [8]:
tmp2.head()

,POI_ID,hru_id_nat,hru_id_reg,region,geometry
0,291803,81071,1,13,POLYGON ((-288850.3248544431 -1761911.77348131...
1,287847,81072,2,13,POLYGON ((-353824.9581058751 -1747744.92074338...
2,291803,81073,3,13,POLYGON ((-315741.2836817848 -1735398.97710615...
3,291795,81074,4,13,POLYGON ((-301436.3706376876 -1732583.64275758...
4,291869,81075,5,13,POLYGON ((-323627.2907667265 -1740089.69010170...

In [14]:
hru_id_nat = np.arange(73256,81071)

In [15]:
len(hru12)

7815

In [16]:
len(hru_id_nat)

7815

In [18]:
hru12['hru_id_nat'] = hru_id_nat

In [19]:
fl = './data/nhrus/clean_AEA/nhru_12_clean.shp'
hru12.to_file(fl)