In [1]:
import datetime
dt = datetime.timedelta(1)

In [2]:
files = glob.glob('./data/hru_*_stage_4_precip.pcl')

In [3]:
files

['./data/hru_07_stage_4_precip.pcl',
 './data/hru_08_stage_4_precip.pcl',
 './data/hru_09_stage_4_precip.pcl',
 './data/hru_10L_stage_4_precip.pcl',
 './data/hru_10U_stage_4_precip.pcl',
 './data/hru_11_stage_4_precip.pcl',
 './data/hru_12_stage_4_precip.pcl']

In [4]:
fl = files[0]

In [10]:
def interp_convert(fl):
    dat = pd.read_pickle(fl)
    
    # generate lists of dates
    strt = str(dat.index[0])
    nd = str(dat.index[-1])

    dates = []
    [dates.append(str(date)) for date in pd.date_range(strt,nd,freq='D')]

    dsDates = []
    [dsDates.append(str(date)) for date in dat.index]
    
    missing = list(set(dates) - set(dsDates)) # compute the difference between the two lists
    
    if len(missing) == 0:
        print('Dates match, no interpolation needed')
    else:
        print('Dates missing, interpolation needed')

        for date in missing: # iterate through the missing dates
            print(date)
            # find the dates before and after the missing date
            year = int(date.split(' ')[-2].split('-')[0])
            month = int(date.split(' ')[-2].split('-')[1])
            day = int(date.split(' ')[-2].split('-')[2])
            date = datetime.date(year,month,day)
            before = date - dt
            after = date + dt


            out = pd.DataFrame()
            out['datetime'] = [date]
            out['year'] = year
            out['month'] = month
            out['day'] = day
            out['hour'] = 0
            out['minute'] = 0
            out['second'] = 0


            for hru in dat.columns[6:]:
                out[hru] =((dat.loc[dat.index==str(before),hru].as_matrix() + dat.loc[dat.index==str(after),hru].as_matrix()) / 2.)[0]

            out.index = pd.DatetimeIndex(out.datetime)
            del out['datetime']
            dat = dat.append(out)

    dat.sort_index(inplace=True)

    # convert the values to inches
    region = fl.split('_')[1] # extract the region from the file name
    if region != '12': # 12 is already in inches...
        print('Converting mm to inches')
        for hru in dat.columns[6:]:
            dat[hru] *= 0.0393701 # mm to inches!!!

    dat.to_pickle('./data/hru_%s_stage_4_precip_interp_inches.pcl'%region)
    print('Region: %s complete'%region)

In [11]:
for fl in files:
    interp_convert(fl)

Dates missing, interpolation needed
2008-11-02 00:00:00
2012-10-01 00:00:00
Converting mm to inches
Region: 07 complete
Dates missing, interpolation needed
2008-11-02 00:00:00
2012-10-01 00:00:00
Converting mm to inches
Region: 08 complete
Dates missing, interpolation needed
2008-11-02 00:00:00
2012-10-01 00:00:00
Converting mm to inches
Region: 09 complete
Dates missing, interpolation needed
2008-11-02 00:00:00
2012-10-01 00:00:00
Converting mm to inches
Region: 10L complete
Dates missing, interpolation needed
2008-11-02 00:00:00
2012-10-01 00:00:00
Converting mm to inches
Region: 10U complete
Dates missing, interpolation needed
2008-11-02 00:00:00
2012-10-01 00:00:00
Converting mm to inches
Region: 11 complete
Dates missing, interpolation needed
2008-11-02 00:00:00
2012-10-01 00:00:00
Region: 12 complete

In [12]:
# export the data frames as new forcing files:
files = glob.glob('./data/hru_*_stage_4_precip_interp_inches.pcl')

In [22]:
def export_cbh(fl):
    region = fl.split('_')[1]
    print('Processing Region: %s'%region)
    dat = pd.read_pickle(fl)
    dat.to_csv('./data/hru_%s_stage_4_precip_interp_inches.cbh'%region,sep=' ',index=False,header=False,float_format='%.4f')

In [23]:
for fl in files:
    export_cbh(fl)

Processing Region: 07
Processing Region: 08
Processing Region: 09
Processing Region: 10L
Processing Region: 10U
Processing Region: 11
Processing Region: 12

In [12]:
dat.head()

,year,month,day,hour,minute,second,hru_1,hru_2,hru_3,hru_4,...,hru_8196,hru_8197,hru_8198,hru_8199,hru_8200,hru_8201,hru_8202,hru_8203,hru_8204,hru_8205
datetime,,,,,,,,,,,,,,,,,,,,,
2004-12-20,2004,12,20,0,0,0,0.0,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
2004-12-21,2004,12,21,0,0,0,0.0,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
2004-12-22,2004,12,22,0,0,0,0.0,0.030779,0.000000,0.160426,...,8.34631,8.708111,9.731642,9.566482,2.483852,2.367854,6.98103,5.275792,2.472068,2.887732
2004-12-23,2004,12,23,0,0,0,0.0,4.291635,3.337007,4.584321,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
2004-12-24,2004,12,24,0,0,0,0.0,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000

In [11]:
dat.tail()

,year,month,day,hour,minute,second,hru_1,hru_2,hru_3,hru_4,...,hru_8196,hru_8197,hru_8198,hru_8199,hru_8200,hru_8201,hru_8202,hru_8203,hru_8204,hru_8205
datetime,,,,,,,,,,,,,,,,,,,,,
2015-01-03,2015,1,3,0,0,0,10.524005,15.240544,14.692121,15.025848,...,20.794635,20.938213,20.242687,19.595702,13.147538,13.659655,12.358628,12.419685,17.806062,15.797369
2015-01-04,2015,1,4,0,0,0,2.845967,0.477940,0.596432,0.372863,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2015-01-05,2015,1,5,0,0,0,0.677320,0.118776,0.140070,0.121935,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2015-01-06,2015,1,6,0,0,0,3.652099,2.371195,2.350720,2.391178,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2015-01-07,2015,1,7,0,0,0,0.750000,0.000000,0.005035,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [22]:
before

,year,month,day,hour,minute,second,hru_1,hru_2,hru_3,hru_4,...,hru_8196,hru_8197,hru_8198,hru_8199,hru_8200,hru_8201,hru_8202,hru_8203,hru_8204,hru_8205
datetime,,,,,,,,,,,,,,,,,,,,,
2012-09-30,2012,9,30,0,0,0,0.0,0.0,0.0,0.0,...,26.831316,25.40707,11.75609,11.214021,2.766403,2.800153,4.946539,3.362403,3.806132,4.025229

In [21]:
dat.loc[]

'hru_1'

In [8]:
missing

['2012-10-01 00:00:00', '2008-11-02 00:00:00']

In [79]:
if n == m:
    print('Lengths match, no interpolation needed')
elif n != m:
    print('Lengths do not match, interpolation needed')
    

    #missing = []    
    #for date in dates: # iterate through dates in the data set
    #    if str(date) in dsDates == False:
    #        missing.append(str(date))

Lengths do not match, interpolation needed

In [84]:
missing = list(set(dates) - set(dsDates))

In [87]:
d = missing[0]

In [90]:
year = int(d.split(' ')[-2].split('-')[0])
month = int(d.split(' ')[-2].split('-')[1])
day = int(d.split(' ')[-2].split('-')[2])
datetime.date(year,month,day)

datetime.date(2012, 10, 1)

In [91]:
missing[0]

'2012-10-01 00:00:00'

In [85]:
datetime.date(missing[0])

TypeError: an integer is required (got type str)

In [74]:
len(dates)

3671

In [75]:
dsDates

['2004-12-20 00:00:00',
 '2004-12-21 00:00:00',
 '2004-12-22 00:00:00',
 '2004-12-23 00:00:00',
 '2004-12-24 00:00:00',
 '2004-12-25 00:00:00',
 '2004-12-26 00:00:00',
 '2004-12-27 00:00:00',
 '2004-12-28 00:00:00',
 '2004-12-29 00:00:00',
 '2004-12-30 00:00:00',
 '2004-12-31 00:00:00',
 '2005-01-01 00:00:00',
 '2005-01-02 00:00:00',
 '2005-01-03 00:00:00',
 '2005-01-04 00:00:00',
 '2005-01-05 00:00:00',
 '2005-01-06 00:00:00',
 '2005-01-07 00:00:00',
 '2005-01-08 00:00:00',
 '2005-01-09 00:00:00',
 '2005-01-10 00:00:00',
 '2005-01-11 00:00:00',
 '2005-01-12 00:00:00',
 '2005-01-13 00:00:00',
 '2005-01-14 00:00:00',
 '2005-01-15 00:00:00',
 '2005-01-16 00:00:00',
 '2005-01-17 00:00:00',
 '2005-01-18 00:00:00',
 '2005-01-19 00:00:00',
 '2005-01-20 00:00:00',
 '2005-01-21 00:00:00',
 '2005-01-22 00:00:00',
 '2005-01-23 00:00:00',
 '2005-01-24 00:00:00',
 '2005-01-25 00:00:00',
 '2005-01-26 00:00:00',
 '2005-01-27 00:00:00',
 '2005-01-28 00:00:00',
 '2005-01-29 00:00:00',
 '2005-01-30 00:00:00',
 '2005-01-31 00:00:00',
 '2005-02-01 00:00:00',
 '2005-02-02 00:00:00',
 '2005-02-03 00:00:00',
 '2005-02-04 00:00:00',
 '2005-02-05 00:00:00',
 '2005-02-06 00:00:00',
 '2005-02-07 00:00:00',
 '2005-02-08 00:00:00',
 '2005-02-09 00:00:00',
 '2005-02-10 00:00:00',
 '2005-02-11 00:00:00',
 '2005-02-12 00:00:00',
 '2005-02-13 00:00:00',
 '2005-02-14 00:00:00',
 '2005-02-15 00:00:00',
 '2005-02-16 00:00:00',
 '2005-02-17 00:00:00',
 '2005-02-18 00:00:00',
 '2005-02-19 00:00:00',
 '2005-02-20 00:00:00',
 '2005-02-21 00:00:00',
 '2005-02-22 00:00:00',
 '2005-02-23 00:00:00',
 '2005-02-24 00:00:00',
 '2005-02-25 00:00:00',
 '2005-02-26 00:00:00',
 '2005-02-27 00:00:00',
 '2005-02-28 00:00:00',
 '2005-03-01 00:00:00',
 '2005-03-02 00:00:00',
 '2005-03-03 00:00:00',
 '2005-03-04 00:00:00',
 '2005-03-05 00:00:00',
 '2005-03-06 00:00:00',
 '2005-03-07 00:00:00',
 '2005-03-08 00:00:00',
 '2005-03-09 00:00:00',
 '2005-03-10 00:00:00',
 '2005-03-11 00:00:00',
 '2005-03-12 00:00:00',
 '2005-03-13 00:00:00',
 '2005-03-14 00:00:00',
 '2005-03-15 00:00:00',
 '2005-03-16 00:00:00',
 '2005-03-17 00:00:00',
 '2005-03-18 00:00:00',
 '2005-03-19 00:00:00',
 '2005-03-20 00:00:00',
 '2005-03-21 00:00:00',
 '2005-03-22 00:00:00',
 '2005-03-23 00:00:00',
 '2005-03-24 00:00:00',
 '2005-03-25 00:00:00',
 '2005-03-26 00:00:00',
 '2005-03-27 00:00:00',
 '2005-03-28 00:00:00',
 '2005-03-29 00:00:00',
 '2005-03-30 00:00:00',
 '2005-03-31 00:00:00',
 '2005-04-01 00:00:00',
 '2005-04-02 00:00:00',
 '2005-04-03 00:00:00',
 '2005-04-04 00:00:00',
 '2005-04-05 00:00:00',
 '2005-04-06 00:00:00',
 '2005-04-07 00:00:00',
 '2005-04-08 00:00:00',
 '2005-04-09 00:00:00',
 '2005-04-10 00:00:00',
 '2005-04-11 00:00:00',
 '2005-04-12 00:00:00',
 '2005-04-13 00:00:00',
 '2005-04-14 00:00:00',
 '2005-04-15 00:00:00',
 '2005-04-16 00:00:00',
 '2005-04-17 00:00:00',
 '2005-04-18 00:00:00',
 '2005-04-19 00:00:00',
 '2005-04-20 00:00:00',
 '2005-04-21 00:00:00',
 '2005-04-22 00:00:00',
 '2005-04-23 00:00:00',
 '2005-04-24 00:00:00',
 '2005-04-25 00:00:00',
 '2005-04-26 00:00:00',
 '2005-04-27 00:00:00',
 '2005-04-28 00:00:00',
 '2005-04-29 00:00:00',
 '2005-04-30 00:00:00',
 '2005-05-01 00:00:00',
 '2005-05-02 00:00:00',
 '2005-05-03 00:00:00',
 '2005-05-04 00:00:00',
 '2005-05-05 00:00:00',
 '2005-05-06 00:00:00',
 '2005-05-07 00:00:00',
 '2005-05-08 00:00:00',
 '2005-05-09 00:00:00',
 '2005-05-10 00:00:00',
 '2005-05-11 00:00:00',
 '2005-05-12 00:00:00',
 '2005-05-13 00:00:00',
 '2005-05-14 00:00:00',
 '2005-05-15 00:00:00',
 '2005-05-16 00:00:00',
 '2005-05-17 00:00:00',
 '2005-05-18 00:00:00',
 '2005-05-19 00:00:00',
 '2005-05-20 00:00:00',
 '2005-05-21 00:00:00',
 '2005-05-22 00:00:00',
 '2005-05-23 00:00:00',
 '2005-05-24 00:00:00',
 '2005-05-25 00:00:00',
 '2005-05-26 00:00:00',
 '2005-05-27 00:00:00',
 '2005-05-28 00:00:00',
 '2005-05-29 00:00:00',
 '2005-05-30 00:00:00',
 '2005-05-31 00:00:00',
 '2005-06-01 00:00:00',
 '2005-06-02 00:00:00',
 '2005-06-03 00:00:00',
 '2005-06-04 00:00:00',
 '2005-06-05 00:00:00',
 '2005-06-06 00:00:00',
 '2005-06-07 00:00:00',
 '2005-06-08 00:00:00',
 '2005-06-09 00:00:00',
 '2005-06-10 00:00:00',
 '2005-06-11 00:00:00',
 '2005-06-12 00:00:00',
 '2005-06-13 00:00:00',
 '2005-06-14 00:00:00',
 '2005-06-15 00:00:00',
 '2005-06-16 00:00:00',
 '2005-06-17 00:00:00',
 '2005-06-18 00:00:00',
 '2005-06-19 00:00:00',
 '2005-06-20 00:00:00',
 '2005-06-21 00:00:00',
 '2005-06-22 00:00:00',
 '2005-06-23 00:00:00',
 '2005-06-24 00:00:00',
 '2005-06-25 00:00:00',
 '2005-06-26 00:00:00',
 '2005-06-27 00:00:00',
 '2005-06-28 00:00:00',
 '2005-06-29 00:00:00',
 '2005-06-30 00:00:00',
 '2005-07-01 00:00:00',
 '2005-07-02 00:00:00',
 '2005-07-03 00:00:00',
 '2005-07-04 00:00:00',
 '2005-07-05 00:00:00',
 '2005-07-06 00:00:00',
 '2005-07-07 00:00:00',
 '2005-07-08 00:00:00',
 '2005-07-09 00:00:00',
 '2005-07-10 00:00:00',
 '2005-07-11 00:00:00',
 '2005-07-12 00:00:00',
 '2005-07-13 00:00:00',
 '2005-07-14 00:00:00',
 '2005-07-15 00:00:00',
 '2005-07-16 00:00:00',
 '2005-07-17 00:00:00',
 '2005-07-18 00:00:00',
 '2005-07-19 00:00:00',
 '2005-07-20 00:00:00',
 '2005-07-21 00:00:00',
 '2005-07-22 00:00:00',
 '2005-07-23 00:00:00',
 '2005-07-24 00:00:00',
 '2005-07-25 00:00:00',
 '2005-07-26 00:00:00',
 '2005-07-27 00:00:00',
 '2005-07-28 00:00:00',
 '2005-07-29 00:00:00',
 '2005-07-30 00:00:00',
 '2005-07-31 00:00:00',
 '2005-08-01 00:00:00',
 '2005-08-02 00:00:00',
 '2005-08-03 00:00:00',
 '2005-08-04 00:00:00',
 '2005-08-05 00:00:00',
 '2005-08-06 00:00:00',
 '2005-08-07 00:00:00',
 '2005-08-08 00:00:00',
 '2005-08-09 00:00:00',
 '2005-08-10 00:00:00',
 '2005-08-11 00:00:00',
 '2005-08-12 00:00:00',
 '2005-08-13 00:00:00',
 '2005-08-14 00:00:00',
 '2005-08-15 00:00:00',
 '2005-08-16 00:00:00',
 '2005-08-17 00:00:00',
 '2005-08-18 00:00:00',
 '2005-08-19 00:00:00',
 '2005-08-20 00:00:00',
 '2005-08-21 00:00:00',
 '2005-08-22 00:00:00',
 '2005-08-23 00:00:00',
 '2005-08-24 00:00:00',
 '2005-08-25 00:00:00',
 '2005-08-26 00:00:00',
 '2005-08-27 00:00:00',
 '2005-08-28 00:00:00',
 '2005-08-29 00:00:00',
 '2005-08-30 00:00:00',
 '2005-08-31 00:00:00',
 '2005-09-01 00:00:00',
 '2005-09-02 00:00:00',
 '2005-09-03 00:00:00',
 '2005-09-04 00:00:00',
 '2005-09-05 00:00:00',
 '2005-09-06 00:00:00',
 '2005-09-07 00:00:00',
 '2005-09-08 00:00:00',
 '2005-09-09 00:00:00',
 '2005-09-10 00:00:00',
 '2005-09-11 00:00:00',
 '2005-09-12 00:00:00',
 '2005-09-13 00:00:00',
 '2005-09-14 00:00:00',
 '2005-09-15 00:00:00',
 '2005-09-16 00:00:00',
 '2005-09-17 00:00:00',
 '2005-09-18 00:00:00',
 '2005-09-19 00:00:00',
 '2005-09-20 00:00:00',
 '2005-09-21 00:00:00',
 '2005-09-22 00:00:00',
 '2005-09-23 00:00:00',
 '2005-09-24 00:00:00',
 '2005-09-25 00:00:00',
 '2005-09-26 00:00:00',
 '2005-09-27 00:00:00',
 '2005-09-28 00:00:00',
 '2005-09-29 00:00:00',
 '2005-09-30 00:00:00',
 '2005-10-01 00:00:00',
 '2005-10-02 00:00:00',
 '2005-10-03 00:00:00',
 '2005-10-04 00:00:00',
 '2005-10-05 00:00:00',
 '2005-10-06 00:00:00',
 '2005-10-07 00:00:00',
 '2005-10-08 00:00:00',
 '2005-10-09 00:00:00',
 '2005-10-10 00:00:00',
 '2005-10-11 00:00:00',
 '2005-10-12 00:00:00',
 '2005-10-13 00:00:00',
 '2005-10-14 00:00:00',
 '2005-10-15 00:00:00',
 '2005-10-16 00:00:00',
 '2005-10-17 00:00:00',
 '2005-10-18 00:00:00',
 '2005-10-19 00:00:00',
 '2005-10-20 00:00:00',
 '2005-10-21 00:00:00',
 '2005-10-22 00:00:00',
 '2005-10-23 00:00:00',
 '2005-10-24 00:00:00',
 '2005-10-25 00:00:00',
 '2005-10-26 00:00:00',
 '2005-10-27 00:00:00',
 '2005-10-28 00:00:00',
 '2005-10-29 00:00:00',
 '2005-10-30 00:00:00',
 '2005-10-31 00:00:00',
 '2005-11-01 00:00:00',
 '2005-11-02 00:00:00',
 '2005-11-03 00:00:00',
 '2005-11-04 00:00:00',
 '2005-11-05 00:00:00',
 '2005-11-06 00:00:00',
 '2005-11-07 00:00:00',
 '2005-11-08 00:00:00',
 '2005-11-09 00:00:00',
 '2005-11-10 00:00:00',
 '2005-11-11 00:00:00',
 '2005-11-12 00:00:00',
 '2005-11-13 00:00:00',
 '2005-11-14 00:00:00',
 '2005-11-15 00:00:00',
 '2005-11-16 00:00:00',
 '2005-11-17 00:00:00',
 '2005-11-18 00:00:00',
 '2005-11-19 00:00:00',
 '2005-11-20 00:00:00',
 '2005-11-21 00:00:00',
 '2005-11-22 00:00:00',
 '2005-11-23 00:00:00',
 '2005-11-24 00:00:00',
 '2005-11-25 00:00:00',
 '2005-11-26 00:00:00',
 '2005-11-27 00:00:00',
 '2005-11-28 00:00:00',
 '2005-11-29 00:00:00',
 '2005-11-30 00:00:00',
 '2005-12-01 00:00:00',
 '2005-12-02 00:00:00',
 '2005-12-03 00:00:00',
 '2005-12-04 00:00:00',
 '2005-12-05 00:00:00',
 '2005-12-06 00:00:00',
 '2005-12-07 00:00:00',
 '2005-12-08 00:00:00',
 '2005-12-09 00:00:00',
 '2005-12-10 00:00:00',
 '2005-12-11 00:00:00',
 '2005-12-12 00:00:00',
 '2005-12-13 00:00:00',
 '2005-12-14 00:00:00',
 '2005-12-15 00:00:00',
 '2005-12-16 00:00:00',
 '2005-12-17 00:00:00',
 '2005-12-18 00:00:00',
 '2005-12-19 00:00:00',
 '2005-12-20 00:00:00',
 '2005-12-21 00:00:00',
 '2005-12-22 00:00:00',
 '2005-12-23 00:00:00',
 '2005-12-24 00:00:00',
 '2005-12-25 00:00:00',
 '2005-12-26 00:00:00',
 '2005-12-27 00:00:00',
 '2005-12-28 00:00:00',
 '2005-12-29 00:00:00',
 '2005-12-30 00:00:00',
 '2005-12-31 00:00:00',
 '2006-01-01 00:00:00',
 '2006-01-02 00:00:00',
 '2006-01-03 00:00:00',
 '2006-01-04 00:00:00',
 '2006-01-05 00:00:00',
 '2006-01-06 00:00:00',
 '2006-01-07 00:00:00',
 '2006-01-08 00:00:00',
 '2006-01-09 00:00:00',
 '2006-01-10 00:00:00',
 '2006-01-11 00:00:00',
 '2006-01-12 00:00:00',
 '2006-01-13 00:00:00',
 '2006-01-14 00:00:00',
 '2006-01-15 00:00:00',
 '2006-01-16 00:00:00',
 '2006-01-17 00:00:00',
 '2006-01-18 00:00:00',
 '2006-01-19 00:00:00',
 '2006-01-20 00:00:00',
 '2006-01-21 00:00:00',
 '2006-01-22 00:00:00',
 '2006-01-23 00:00:00',
 '2006-01-24 00:00:00',
 '2006-01-25 00:00:00',
 '2006-01-26 00:00:00',
 '2006-01-27 00:00:00',
 '2006-01-28 00:00:00',
 '2006-01-29 00:00:00',
 '2006-01-30 00:00:00',
 '2006-01-31 00:00:00',
 '2006-02-01 00:00:00',
 '2006-02-02 00:00:00',
 '2006-02-03 00:00:00',
 '2006-02-04 00:00:00',
 '2006-02-05 00:00:00',
 '2006-02-06 00:00:00',
 '2006-02-07 00:00:00',
 '2006-02-08 00:00:00',
 '2006-02-09 00:00:00',
 '2006-02-10 00:00:00',
 '2006-02-11 00:00:00',
 '2006-02-12 00:00:00',
 '2006-02-13 00:00:00',
 '2006-02-14 00:00:00',
 '2006-02-15 00:00:00',
 '2006-02-16 00:00:00',
 '2006-02-17 00:00:00',
 '2006-02-18 00:00:00',
 '2006-02-19 00:00:00',
 '2006-02-20 00:00:00',
 '2006-02-21 00:00:00',
 '2006-02-22 00:00:00',
 '2006-02-23 00:00:00',
 '2006-02-24 00:00:00',
 '2006-02-25 00:00:00',
 '2006-02-26 00:00:00',
 '2006-02-27 00:00:00',
 '2006-02-28 00:00:00',
 '2006-03-01 00:00:00',
 '2006-03-02 00:00:00',
 '2006-03-03 00:00:00',
 '2006-03-04 00:00:00',
 '2006-03-05 00:00:00',
 '2006-03-06 00:00:00',
 '2006-03-07 00:00:00',
 '2006-03-08 00:00:00',
 '2006-03-09 00:00:00',
 '2006-03-10 00:00:00',
 '2006-03-11 00:00:00',
 '2006-03-12 00:00:00',
 '2006-03-13 00:00:00',
 '2006-03-14 00:00:00',
 '2006-03-15 00:00:00',
 '2006-03-16 00:00:00',
 '2006-03-17 00:00:00',
 '2006-03-18 00:00:00',
 '2006-03-19 00:00:00',
 '2006-03-20 00:00:00',
 '2006-03-21 00:00:00',
 '2006-03-22 00:00:00',
 '2006-03-23 00:00:00',
 '2006-03-24 00:00:00',
 '2006-03-25 00:00:00',
 '2006-03-26 00:00:00',
 '2006-03-27 00:00:00',
 '2006-03-28 00:00:00',
 '2006-03-29 00:00:00',
 '2006-03-30 00:00:00',
 '2006-03-31 00:00:00',
 '2006-04-01 00:00:00',
 '2006-04-02 00:00:00',
 '2006-04-03 00:00:00',
 '2006-04-04 00:00:00',
 '2006-04-05 00:00:00',
 '2006-04-06 00:00:00',
 '2006-04-07 00:00:00',
 '2006-04-08 00:00:00',
 '2006-04-09 00:00:00',
 '2006-04-10 00:00:00',
 '2006-04-11 00:00:00',
 '2006-04-12 00:00:00',
 '2006-04-13 00:00:00',
 '2006-04-14 00:00:00',
 '2006-04-15 00:00:00',
 '2006-04-16 00:00:00',
 '2006-04-17 00:00:00',
 '2006-04-18 00:00:00',
 '2006-04-19 00:00:00',
 '2006-04-20 00:00:00',
 '2006-04-21 00:00:00',
 '2006-04-22 00:00:00',
 '2006-04-23 00:00:00',
 '2006-04-24 00:00:00',
 '2006-04-25 00:00:00',
 '2006-04-26 00:00:00',
 '2006-04-27 00:00:00',
 '2006-04-28 00:00:00',
 '2006-04-29 00:00:00',
 '2006-04-30 00:00:00',
 '2006-05-01 00:00:00',
 '2006-05-02 00:00:00',
 '2006-05-03 00:00:00',
 '2006-05-04 00:00:00',
 '2006-05-05 00:00:00',
 '2006-05-06 00:00:00',
 '2006-05-07 00:00:00',
 '2006-05-08 00:00:00',
 '2006-05-09 00:00:00',
 '2006-05-10 00:00:00',
 '2006-05-11 00:00:00',
 '2006-05-12 00:00:00',
 '2006-05-13 00:00:00',
 '2006-05-14 00:00:00',
 '2006-05-15 00:00:00',
 '2006-05-16 00:00:00',
 '2006-05-17 00:00:00',
 '2006-05-18 00:00:00',
 '2006-05-19 00:00:00',
 '2006-05-20 00:00:00',
 '2006-05-21 00:00:00',
 '2006-05-22 00:00:00',
 '2006-05-23 00:00:00',
 '2006-05-24 00:00:00',
 '2006-05-25 00:00:00',
 '2006-05-26 00:00:00',
 '2006-05-27 00:00:00',
 '2006-05-28 00:00:00',
 '2006-05-29 00:00:00',
 '2006-05-30 00:00:00',
 '2006-05-31 00:00:00',
 '2006-06-01 00:00:00',
 '2006-06-02 00:00:00',
 '2006-06-03 00:00:00',
 '2006-06-04 00:00:00',
 '2006-06-05 00:00:00',
 '2006-06-06 00:00:00',
 '2006-06-07 00:00:00',
 '2006-06-08 00:00:00',
 '2006-06-09 00:00:00',
 '2006-06-10 00:00:00',
 '2006-06-11 00:00:00',
 '2006-06-12 00:00:00',
 '2006-06-13 00:00:00',
 '2006-06-14 00:00:00',
 '2006-06-15 00:00:00',
 '2006-06-16 00:00:00',
 '2006-06-17 00:00:00',
 '2006-06-18 00:00:00',
 '2006-06-19 00:00:00',
 '2006-06-20 00:00:00',
 '2006-06-21 00:00:00',
 '2006-06-22 00:00:00',
 '2006-06-23 00:00:00',
 '2006-06-24 00:00:00',
 '2006-06-25 00:00:00',
 '2006-06-26 00:00:00',
 '2006-06-27 00:00:00',
 '2006-06-28 00:00:00',
 '2006-06-29 00:00:00',
 '2006-06-30 00:00:00',
 '2006-07-01 00:00:00',
 '2006-07-02 00:00:00',
 '2006-07-03 00:00:00',
 '2006-07-04 00:00:00',
 '2006-07-05 00:00:00',
 '2006-07-06 00:00:00',
 '2006-07-07 00:00:00',
 '2006-07-08 00:00:00',
 '2006-07-09 00:00:00',
 '2006-07-10 00:00:00',
 '2006-07-11 00:00:00',
 '2006-07-12 00:00:00',
 '2006-07-13 00:00:00',
 '2006-07-14 00:00:00',
 '2006-07-15 00:00:00',
 '2006-07-16 00:00:00',
 '2006-07-17 00:00:00',
 '2006-07-18 00:00:00',
 '2006-07-19 00:00:00',
 '2006-07-20 00:00:00',
 '2006-07-21 00:00:00',
 '2006-07-22 00:00:00',
 '2006-07-23 00:00:00',
 '2006-07-24 00:00:00',
 '2006-07-25 00:00:00',
 '2006-07-26 00:00:00',
 '2006-07-27 00:00:00',
 '2006-07-28 00:00:00',
 '2006-07-29 00:00:00',
 '2006-07-30 00:00:00',
 '2006-07-31 00:00:00',
 '2006-08-01 00:00:00',
 '2006-08-02 00:00:00',
 '2006-08-03 00:00:00',
 '2006-08-04 00:00:00',
 '2006-08-05 00:00:00',
 '2006-08-06 00:00:00',
 '2006-08-07 00:00:00',
 '2006-08-08 00:00:00',
 '2006-08-09 00:00:00',
 '2006-08-10 00:00:00',
 '2006-08-11 00:00:00',
 '2006-08-12 00:00:00',
 '2006-08-13 00:00:00',
 '2006-08-14 00:00:00',
 '2006-08-15 00:00:00',
 '2006-08-16 00:00:00',
 '2006-08-17 00:00:00',
 '2006-08-18 00:00:00',
 '2006-08-19 00:00:00',
 '2006-08-20 00:00:00',
 '2006-08-21 00:00:00',
 '2006-08-22 00:00:00',
 '2006-08-23 00:00:00',
 '2006-08-24 00:00:00',
 '2006-08-25 00:00:00',
 '2006-08-26 00:00:00',
 '2006-08-27 00:00:00',
 '2006-08-28 00:00:00',
 '2006-08-29 00:00:00',
 '2006-08-30 00:00:00',
 '2006-08-31 00:00:00',
 '2006-09-01 00:00:00',
 '2006-09-02 00:00:00',
 '2006-09-03 00:00:00',
 '2006-09-04 00:00:00',
 '2006-09-05 00:00:00',
 '2006-09-06 00:00:00',
 '2006-09-07 00:00:00',
 '2006-09-08 00:00:00',
 '2006-09-09 00:00:00',
 '2006-09-10 00:00:00',
 '2006-09-11 00:00:00',
 '2006-09-12 00:00:00',
 '2006-09-13 00:00:00',
 '2006-09-14 00:00:00',
 '2006-09-15 00:00:00',
 '2006-09-16 00:00:00',
 '2006-09-17 00:00:00',
 '2006-09-18 00:00:00',
 '2006-09-19 00:00:00',
 '2006-09-20 00:00:00',
 '2006-09-21 00:00:00',
 '2006-09-22 00:00:00',
 '2006-09-23 00:00:00',
 '2006-09-24 00:00:00',
 '2006-09-25 00:00:00',
 '2006-09-26 00:00:00',
 '2006-09-27 00:00:00',
 '2006-09-28 00:00:00',
 '2006-09-29 00:00:00',
 '2006-09-30 00:00:00',
 '2006-10-01 00:00:00',
 '2006-10-02 00:00:00',
 '2006-10-03 00:00:00',
 '2006-10-04 00:00:00',
 '2006-10-05 00:00:00',
 '2006-10-06 00:00:00',
 '2006-10-07 00:00:00',
 '2006-10-08 00:00:00',
 '2006-10-09 00:00:00',
 '2006-10-10 00:00:00',
 '2006-10-11 00:00:00',
 '2006-10-12 00:00:00',
 '2006-10-13 00:00:00',
 '2006-10-14 00:00:00',
 '2006-10-15 00:00:00',
 '2006-10-16 00:00:00',
 '2006-10-17 00:00:00',
 '2006-10-18 00:00:00',
 '2006-10-19 00:00:00',
 '2006-10-20 00:00:00',
 '2006-10-21 00:00:00',
 '2006-10-22 00:00:00',
 '2006-10-23 00:00:00',
 '2006-10-24 00:00:00',
 '2006-10-25 00:00:00',
 '2006-10-26 00:00:00',
 '2006-10-27 00:00:00',
 '2006-10-28 00:00:00',
 '2006-10-29 00:00:00',
 '2006-10-30 00:00:00',
 '2006-10-31 00:00:00',
 '2006-11-01 00:00:00',
 '2006-11-02 00:00:00',
 '2006-11-03 00:00:00',
 '2006-11-04 00:00:00',
 '2006-11-05 00:00:00',
 '2006-11-06 00:00:00',
 '2006-11-07 00:00:00',
 '2006-11-08 00:00:00',
 '2006-11-09 00:00:00',
 '2006-11-10 00:00:00',
 '2006-11-11 00:00:00',
 '2006-11-12 00:00:00',
 '2006-11-13 00:00:00',
 '2006-11-14 00:00:00',
 '2006-11-15 00:00:00',
 '2006-11-16 00:00:00',
 '2006-11-17 00:00:00',
 '2006-11-18 00:00:00',
 '2006-11-19 00:00:00',
 '2006-11-20 00:00:00',
 '2006-11-21 00:00:00',
 '2006-11-22 00:00:00',
 '2006-11-23 00:00:00',
 '2006-11-24 00:00:00',
 '2006-11-25 00:00:00',
 '2006-11-26 00:00:00',
 '2006-11-27 00:00:00',
 '2006-11-28 00:00:00',
 '2006-11-29 00:00:00',
 '2006-11-30 00:00:00',
 '2006-12-01 00:00:00',
 '2006-12-02 00:00:00',
 '2006-12-03 00:00:00',
 '2006-12-04 00:00:00',
 '2006-12-05 00:00:00',
 '2006-12-06 00:00:00',
 '2006-12-07 00:00:00',
 '2006-12-08 00:00:00',
 '2006-12-09 00:00:00',
 '2006-12-10 00:00:00',
 '2006-12-11 00:00:00',
 '2006-12-12 00:00:00',
 '2006-12-13 00:00:00',
 '2006-12-14 00:00:00',
 '2006-12-15 00:00:00',
 '2006-12-16 00:00:00',
 '2006-12-17 00:00:00',
 '2006-12-18 00:00:00',
 '2006-12-19 00:00:00',
 '2006-12-20 00:00:00',
 '2006-12-21 00:00:00',
 '2006-12-22 00:00:00',
 '2006-12-23 00:00:00',
 '2006-12-24 00:00:00',
 '2006-12-25 00:00:00',
 '2006-12-26 00:00:00',
 '2006-12-27 00:00:00',
 '2006-12-28 00:00:00',
 '2006-12-29 00:00:00',
 '2006-12-30 00:00:00',
 '2006-12-31 00:00:00',
 '2007-01-01 00:00:00',
 '2007-01-02 00:00:00',
 '2007-01-03 00:00:00',
 '2007-01-04 00:00:00',
 '2007-01-05 00:00:00',
 '2007-01-06 00:00:00',
 '2007-01-07 00:00:00',
 '2007-01-08 00:00:00',
 '2007-01-09 00:00:00',
 '2007-01-10 00:00:00',
 '2007-01-11 00:00:00',
 '2007-01-12 00:00:00',
 '2007-01-13 00:00:00',
 '2007-01-14 00:00:00',
 '2007-01-15 00:00:00',
 '2007-01-16 00:00:00',
 '2007-01-17 00:00:00',
 '2007-01-18 00:00:00',
 '2007-01-19 00:00:00',
 '2007-01-20 00:00:00',
 '2007-01-21 00:00:00',
 '2007-01-22 00:00:00',
 '2007-01-23 00:00:00',
 '2007-01-24 00:00:00',
 '2007-01-25 00:00:00',
 '2007-01-26 00:00:00',
 '2007-01-27 00:00:00',
 '2007-01-28 00:00:00',
 '2007-01-29 00:00:00',
 '2007-01-30 00:00:00',
 '2007-01-31 00:00:00',
 '2007-02-01 00:00:00',
 '2007-02-02 00:00:00',
 '2007-02-03 00:00:00',
 '2007-02-04 00:00:00',
 '2007-02-05 00:00:00',
 '2007-02-06 00:00:00',
 '2007-02-07 00:00:00',
 '2007-02-08 00:00:00',
 '2007-02-09 00:00:00',
 '2007-02-10 00:00:00',
 '2007-02-11 00:00:00',
 '2007-02-12 00:00:00',
 '2007-02-13 00:00:00',
 '2007-02-14 00:00:00',
 '2007-02-15 00:00:00',
 '2007-02-16 00:00:00',
 '2007-02-17 00:00:00',
 '2007-02-18 00:00:00',
 '2007-02-19 00:00:00',
 '2007-02-20 00:00:00',
 '2007-02-21 00:00:00',
 '2007-02-22 00:00:00',
 '2007-02-23 00:00:00',
 '2007-02-24 00:00:00',
 '2007-02-25 00:00:00',
 '2007-02-26 00:00:00',
 '2007-02-27 00:00:00',
 '2007-02-28 00:00:00',
 '2007-03-01 00:00:00',
 '2007-03-02 00:00:00',
 '2007-03-03 00:00:00',
 '2007-03-04 00:00:00',
 '2007-03-05 00:00:00',
 '2007-03-06 00:00:00',
 '2007-03-07 00:00:00',
 '2007-03-08 00:00:00',
 '2007-03-09 00:00:00',
 '2007-03-10 00:00:00',
 '2007-03-11 00:00:00',
 '2007-03-12 00:00:00',
 '2007-03-13 00:00:00',
 '2007-03-14 00:00:00',
 '2007-03-15 00:00:00',
 '2007-03-16 00:00:00',
 '2007-03-17 00:00:00',
 '2007-03-18 00:00:00',
 '2007-03-19 00:00:00',
 '2007-03-20 00:00:00',
 '2007-03-21 00:00:00',
 '2007-03-22 00:00:00',
 '2007-03-23 00:00:00',
 '2007-03-24 00:00:00',
 '2007-03-25 00:00:00',
 '2007-03-26 00:00:00',
 '2007-03-27 00:00:00',
 '2007-03-28 00:00:00',
 '2007-03-29 00:00:00',
 '2007-03-30 00:00:00',
 '2007-03-31 00:00:00',
 '2007-04-01 00:00:00',

In [76]:
dates

[Timestamp('2004-12-20 00:00:00', freq='D'),
 Timestamp('2004-12-21 00:00:00', freq='D'),
 Timestamp('2004-12-22 00:00:00', freq='D'),
 Timestamp('2004-12-23 00:00:00', freq='D'),
 Timestamp('2004-12-24 00:00:00', freq='D'),
 Timestamp('2004-12-25 00:00:00', freq='D'),
 Timestamp('2004-12-26 00:00:00', freq='D'),
 Timestamp('2004-12-27 00:00:00', freq='D'),
 Timestamp('2004-12-28 00:00:00', freq='D'),
 Timestamp('2004-12-29 00:00:00', freq='D'),
 Timestamp('2004-12-30 00:00:00', freq='D'),
 Timestamp('2004-12-31 00:00:00', freq='D'),
 Timestamp('2005-01-01 00:00:00', freq='D'),
 Timestamp('2005-01-02 00:00:00', freq='D'),
 Timestamp('2005-01-03 00:00:00', freq='D'),
 Timestamp('2005-01-04 00:00:00', freq='D'),
 Timestamp('2005-01-05 00:00:00', freq='D'),
 Timestamp('2005-01-06 00:00:00', freq='D'),
 Timestamp('2005-01-07 00:00:00', freq='D'),
 Timestamp('2005-01-08 00:00:00', freq='D'),
 Timestamp('2005-01-09 00:00:00', freq='D'),
 Timestamp('2005-01-10 00:00:00', freq='D'),
 Timestamp('2005-01-11 00:00:00', freq='D'),
 Timestamp('2005-01-12 00:00:00', freq='D'),
 Timestamp('2005-01-13 00:00:00', freq='D'),
 Timestamp('2005-01-14 00:00:00', freq='D'),
 Timestamp('2005-01-15 00:00:00', freq='D'),
 Timestamp('2005-01-16 00:00:00', freq='D'),
 Timestamp('2005-01-17 00:00:00', freq='D'),
 Timestamp('2005-01-18 00:00:00', freq='D'),
 Timestamp('2005-01-19 00:00:00', freq='D'),
 Timestamp('2005-01-20 00:00:00', freq='D'),
 Timestamp('2005-01-21 00:00:00', freq='D'),
 Timestamp('2005-01-22 00:00:00', freq='D'),
 Timestamp('2005-01-23 00:00:00', freq='D'),
 Timestamp('2005-01-24 00:00:00', freq='D'),
 Timestamp('2005-01-25 00:00:00', freq='D'),
 Timestamp('2005-01-26 00:00:00', freq='D'),
 Timestamp('2005-01-27 00:00:00', freq='D'),
 Timestamp('2005-01-28 00:00:00', freq='D'),
 Timestamp('2005-01-29 00:00:00', freq='D'),
 Timestamp('2005-01-30 00:00:00', freq='D'),
 Timestamp('2005-01-31 00:00:00', freq='D'),
 Timestamp('2005-02-01 00:00:00', freq='D'),
 Timestamp('2005-02-02 00:00:00', freq='D'),
 Timestamp('2005-02-03 00:00:00', freq='D'),
 Timestamp('2005-02-04 00:00:00', freq='D'),
 Timestamp('2005-02-05 00:00:00', freq='D'),
 Timestamp('2005-02-06 00:00:00', freq='D'),
 Timestamp('2005-02-07 00:00:00', freq='D'),
 Timestamp('2005-02-08 00:00:00', freq='D'),
 Timestamp('2005-02-09 00:00:00', freq='D'),
 Timestamp('2005-02-10 00:00:00', freq='D'),
 Timestamp('2005-02-11 00:00:00', freq='D'),
 Timestamp('2005-02-12 00:00:00', freq='D'),
 Timestamp('2005-02-13 00:00:00', freq='D'),
 Timestamp('2005-02-14 00:00:00', freq='D'),
 Timestamp('2005-02-15 00:00:00', freq='D'),
 Timestamp('2005-02-16 00:00:00', freq='D'),
 Timestamp('2005-02-17 00:00:00', freq='D'),
 Timestamp('2005-02-18 00:00:00', freq='D'),
 Timestamp('2005-02-19 00:00:00', freq='D'),
 Timestamp('2005-02-20 00:00:00', freq='D'),
 Timestamp('2005-02-21 00:00:00', freq='D'),
 Timestamp('2005-02-22 00:00:00', freq='D'),
 Timestamp('2005-02-23 00:00:00', freq='D'),
 Timestamp('2005-02-24 00:00:00', freq='D'),
 Timestamp('2005-02-25 00:00:00', freq='D'),
 Timestamp('2005-02-26 00:00:00', freq='D'),
 Timestamp('2005-02-27 00:00:00', freq='D'),
 Timestamp('2005-02-28 00:00:00', freq='D'),
 Timestamp('2005-03-01 00:00:00', freq='D'),
 Timestamp('2005-03-02 00:00:00', freq='D'),
 Timestamp('2005-03-03 00:00:00', freq='D'),
 Timestamp('2005-03-04 00:00:00', freq='D'),
 Timestamp('2005-03-05 00:00:00', freq='D'),
 Timestamp('2005-03-06 00:00:00', freq='D'),
 Timestamp('2005-03-07 00:00:00', freq='D'),
 Timestamp('2005-03-08 00:00:00', freq='D'),
 Timestamp('2005-03-09 00:00:00', freq='D'),
 Timestamp('2005-03-10 00:00:00', freq='D'),
 Timestamp('2005-03-11 00:00:00', freq='D'),
 Timestamp('2005-03-12 00:00:00', freq='D'),
 Timestamp('2005-03-13 00:00:00', freq='D'),
 Timestamp('2005-03-14 00:00:00', freq='D'),
 Timestamp('2005-03-15 00:00:00', freq='D'),
 Timestamp('2005-03-16 00:00:00', freq='D'),
 Timestamp('2005-03-17 00:00:00', freq='D'),
 Timestamp('2005-03-18 00:00:00', freq='D'),
 Timestamp('2005-03-19 00:00:00', freq='D'),
 Timestamp('2005-03-20 00:00:00', freq='D'),
 Timestamp('2005-03-21 00:00:00', freq='D'),
 Timestamp('2005-03-22 00:00:00', freq='D'),
 Timestamp('2005-03-23 00:00:00', freq='D'),
 Timestamp('2005-03-24 00:00:00', freq='D'),
 Timestamp('2005-03-25 00:00:00', freq='D'),
 Timestamp('2005-03-26 00:00:00', freq='D'),
 Timestamp('2005-03-27 00:00:00', freq='D'),
 Timestamp('2005-03-28 00:00:00', freq='D'),
 Timestamp('2005-03-29 00:00:00', freq='D'),
 Timestamp('2005-03-30 00:00:00', freq='D'),
 Timestamp('2005-03-31 00:00:00', freq='D'),
 Timestamp('2005-04-01 00:00:00', freq='D'),
 Timestamp('2005-04-02 00:00:00', freq='D'),
 Timestamp('2005-04-03 00:00:00', freq='D'),
 Timestamp('2005-04-04 00:00:00', freq='D'),
 Timestamp('2005-04-05 00:00:00', freq='D'),
 Timestamp('2005-04-06 00:00:00', freq='D'),
 Timestamp('2005-04-07 00:00:00', freq='D'),
 Timestamp('2005-04-08 00:00:00', freq='D'),
 Timestamp('2005-04-09 00:00:00', freq='D'),
 Timestamp('2005-04-10 00:00:00', freq='D'),
 Timestamp('2005-04-11 00:00:00', freq='D'),
 Timestamp('2005-04-12 00:00:00', freq='D'),
 Timestamp('2005-04-13 00:00:00', freq='D'),
 Timestamp('2005-04-14 00:00:00', freq='D'),
 Timestamp('2005-04-15 00:00:00', freq='D'),
 Timestamp('2005-04-16 00:00:00', freq='D'),
 Timestamp('2005-04-17 00:00:00', freq='D'),
 Timestamp('2005-04-18 00:00:00', freq='D'),
 Timestamp('2005-04-19 00:00:00', freq='D'),
 Timestamp('2005-04-20 00:00:00', freq='D'),
 Timestamp('2005-04-21 00:00:00', freq='D'),
 Timestamp('2005-04-22 00:00:00', freq='D'),
 Timestamp('2005-04-23 00:00:00', freq='D'),
 Timestamp('2005-04-24 00:00:00', freq='D'),
 Timestamp('2005-04-25 00:00:00', freq='D'),
 Timestamp('2005-04-26 00:00:00', freq='D'),
 Timestamp('2005-04-27 00:00:00', freq='D'),
 Timestamp('2005-04-28 00:00:00', freq='D'),
 Timestamp('2005-04-29 00:00:00', freq='D'),
 Timestamp('2005-04-30 00:00:00', freq='D'),
 Timestamp('2005-05-01 00:00:00', freq='D'),
 Timestamp('2005-05-02 00:00:00', freq='D'),
 Timestamp('2005-05-03 00:00:00', freq='D'),
 Timestamp('2005-05-04 00:00:00', freq='D'),
 Timestamp('2005-05-05 00:00:00', freq='D'),
 Timestamp('2005-05-06 00:00:00', freq='D'),
 Timestamp('2005-05-07 00:00:00', freq='D'),
 Timestamp('2005-05-08 00:00:00', freq='D'),
 Timestamp('2005-05-09 00:00:00', freq='D'),
 Timestamp('2005-05-10 00:00:00', freq='D'),
 Timestamp('2005-05-11 00:00:00', freq='D'),
 Timestamp('2005-05-12 00:00:00', freq='D'),
 Timestamp('2005-05-13 00:00:00', freq='D'),
 Timestamp('2005-05-14 00:00:00', freq='D'),
 Timestamp('2005-05-15 00:00:00', freq='D'),
 Timestamp('2005-05-16 00:00:00', freq='D'),
 Timestamp('2005-05-17 00:00:00', freq='D'),
 Timestamp('2005-05-18 00:00:00', freq='D'),
 Timestamp('2005-05-19 00:00:00', freq='D'),
 Timestamp('2005-05-20 00:00:00', freq='D'),
 Timestamp('2005-05-21 00:00:00', freq='D'),
 Timestamp('2005-05-22 00:00:00', freq='D'),
 Timestamp('2005-05-23 00:00:00', freq='D'),
 Timestamp('2005-05-24 00:00:00', freq='D'),
 Timestamp('2005-05-25 00:00:00', freq='D'),
 Timestamp('2005-05-26 00:00:00', freq='D'),
 Timestamp('2005-05-27 00:00:00', freq='D'),
 Timestamp('2005-05-28 00:00:00', freq='D'),
 Timestamp('2005-05-29 00:00:00', freq='D'),
 Timestamp('2005-05-30 00:00:00', freq='D'),
 Timestamp('2005-05-31 00:00:00', freq='D'),
 Timestamp('2005-06-01 00:00:00', freq='D'),
 Timestamp('2005-06-02 00:00:00', freq='D'),
 Timestamp('2005-06-03 00:00:00', freq='D'),
 Timestamp('2005-06-04 00:00:00', freq='D'),
 Timestamp('2005-06-05 00:00:00', freq='D'),
 Timestamp('2005-06-06 00:00:00', freq='D'),
 Timestamp('2005-06-07 00:00:00', freq='D'),
 Timestamp('2005-06-08 00:00:00', freq='D'),
 Timestamp('2005-06-09 00:00:00', freq='D'),
 Timestamp('2005-06-10 00:00:00', freq='D'),
 Timestamp('2005-06-11 00:00:00', freq='D'),
 Timestamp('2005-06-12 00:00:00', freq='D'),
 Timestamp('2005-06-13 00:00:00', freq='D'),
 Timestamp('2005-06-14 00:00:00', freq='D'),
 Timestamp('2005-06-15 00:00:00', freq='D'),
 Timestamp('2005-06-16 00:00:00', freq='D'),
 Timestamp('2005-06-17 00:00:00', freq='D'),
 Timestamp('2005-06-18 00:00:00', freq='D'),
 Timestamp('2005-06-19 00:00:00', freq='D'),
 Timestamp('2005-06-20 00:00:00', freq='D'),
 Timestamp('2005-06-21 00:00:00', freq='D'),
 Timestamp('2005-06-22 00:00:00', freq='D'),
 Timestamp('2005-06-23 00:00:00', freq='D'),
 Timestamp('2005-06-24 00:00:00', freq='D'),
 Timestamp('2005-06-25 00:00:00', freq='D'),
 Timestamp('2005-06-26 00:00:00', freq='D'),
 Timestamp('2005-06-27 00:00:00', freq='D'),
 Timestamp('2005-06-28 00:00:00', freq='D'),
 Timestamp('2005-06-29 00:00:00', freq='D'),
 Timestamp('2005-06-30 00:00:00', freq='D'),
 Timestamp('2005-07-01 00:00:00', freq='D'),
 Timestamp('2005-07-02 00:00:00', freq='D'),
 Timestamp('2005-07-03 00:00:00', freq='D'),
 Timestamp('2005-07-04 00:00:00', freq='D'),
 Timestamp('2005-07-05 00:00:00', freq='D'),
 Timestamp('2005-07-06 00:00:00', freq='D'),
 Timestamp('2005-07-07 00:00:00', freq='D'),
 Timestamp('2005-07-08 00:00:00', freq='D'),
 Timestamp('2005-07-09 00:00:00', freq='D'),
 Timestamp('2005-07-10 00:00:00', freq='D'),
 Timestamp('2005-07-11 00:00:00', freq='D'),
 Timestamp('2005-07-12 00:00:00', freq='D'),
 Timestamp('2005-07-13 00:00:00', freq='D'),
 Timestamp('2005-07-14 00:00:00', freq='D'),
 Timestamp('2005-07-15 00:00:00', freq='D'),
 Timestamp('2005-07-16 00:00:00', freq='D'),
 Timestamp('2005-07-17 00:00:00', freq='D'),
 Timestamp('2005-07-18 00:00:00', freq='D'),
 Timestamp('2005-07-19 00:00:00', freq='D'),
 Timestamp('2005-07-20 00:00:00', freq='D'),
 Timestamp('2005-07-21 00:00:00', freq='D'),
 Timestamp('2005-07-22 00:00:00', freq='D'),
 Timestamp('2005-07-23 00:00:00', freq='D'),
 Timestamp('2005-07-24 00:00:00', freq='D'),
 Timestamp('2005-07-25 00:00:00', freq='D'),
 Timestamp('2005-07-26 00:00:00', freq='D'),
 Timestamp('2005-07-27 00:00:00', freq='D'),
 Timestamp('2005-07-28 00:00:00', freq='D'),
 Timestamp('2005-07-29 00:00:00', freq='D'),
 Timestamp('2005-07-30 00:00:00', freq='D'),
 Timestamp('2005-07-31 00:00:00', freq='D'),
 Timestamp('2005-08-01 00:00:00', freq='D'),
 Timestamp('2005-08-02 00:00:00', freq='D'),
 Timestamp('2005-08-03 00:00:00', freq='D'),
 Timestamp('2005-08-04 00:00:00', freq='D'),
 Timestamp('2005-08-05 00:00:00', freq='D'),
 Timestamp('2005-08-06 00:00:00', freq='D'),
 Timestamp('2005-08-07 00:00:00', freq='D'),
 Timestamp('2005-08-08 00:00:00', freq='D'),
 Timestamp('2005-08-09 00:00:00', freq='D'),
 Timestamp('2005-08-10 00:00:00', freq='D'),
 Timestamp('2005-08-11 00:00:00', freq='D'),
 Timestamp('2005-08-12 00:00:00', freq='D'),
 Timestamp('2005-08-13 00:00:00', freq='D'),
 Timestamp('2005-08-14 00:00:00', freq='D'),
 Timestamp('2005-08-15 00:00:00', freq='D'),
 Timestamp('2005-08-16 00:00:00', freq='D'),
 Timestamp('2005-08-17 00:00:00', freq='D'),
 Timestamp('2005-08-18 00:00:00', freq='D'),
 Timestamp('2005-08-19 00:00:00', freq='D'),
 Timestamp('2005-08-20 00:00:00', freq='D'),
 Timestamp('2005-08-21 00:00:00', freq='D'),
 Timestamp('2005-08-22 00:00:00', freq='D'),
 Timestamp('2005-08-23 00:00:00', freq='D'),
 Timestamp('2005-08-24 00:00:00', freq='D'),
 Timestamp('2005-08-25 00:00:00', freq='D'),
 Timestamp('2005-08-26 00:00:00', freq='D'),
 Timestamp('2005-08-27 00:00:00', freq='D'),
 Timestamp('2005-08-28 00:00:00', freq='D'),
 Timestamp('2005-08-29 00:00:00', freq='D'),
 Timestamp('2005-08-30 00:00:00', freq='D'),
 Timestamp('2005-08-31 00:00:00', freq='D'),
 Timestamp('2005-09-01 00:00:00', freq='D'),
 Timestamp('2005-09-02 00:00:00', freq='D'),
 Timestamp('2005-09-03 00:00:00', freq='D'),
 Timestamp('2005-09-04 00:00:00', freq='D'),
 Timestamp('2005-09-05 00:00:00', freq='D'),
 Timestamp('2005-09-06 00:00:00', freq='D'),
 Timestamp('2005-09-07 00:00:00', freq='D'),
 Timestamp('2005-09-08 00:00:00', freq='D'),
 Timestamp('2005-09-09 00:00:00', freq='D'),
 Timestamp('2005-09-10 00:00:00', freq='D'),
 Timestamp('2005-09-11 00:00:00', freq='D'),
 Timestamp('2005-09-12 00:00:00', freq='D'),
 Timestamp('2005-09-13 00:00:00', freq='D'),
 Timestamp('2005-09-14 00:00:00', freq='D'),
 Timestamp('2005-09-15 00:00:00', freq='D'),
 Timestamp('2005-09-16 00:00:00', freq='D'),
 Timestamp('2005-09-17 00:00:00', freq='D'),
 Timestamp('2005-09-18 00:00:00', freq='D'),
 Timestamp('2005-09-19 00:00:00', freq='D'),
 Timestamp('2005-09-20 00:00:00', freq='D'),
 Timestamp('2005-09-21 00:00:00', freq='D'),
 Timestamp('2005-09-22 00:00:00', freq='D'),
 Timestamp('2005-09-23 00:00:00', freq='D'),
 Timestamp('2005-09-24 00:00:00', freq='D'),
 Timestamp('2005-09-25 00:00:00', freq='D'),
 Timestamp('2005-09-26 00:00:00', freq='D'),
 Timestamp('2005-09-27 00:00:00', freq='D'),
 Timestamp('2005-09-28 00:00:00', freq='D'),
 Timestamp('2005-09-29 00:00:00', freq='D'),
 Timestamp('2005-09-30 00:00:00', freq='D'),
 Timestamp('2005-10-01 00:00:00', freq='D'),
 Timestamp('2005-10-02 00:00:00', freq='D'),
 Timestamp('2005-10-03 00:00:00', freq='D'),
 Timestamp('2005-10-04 00:00:00', freq='D'),
 Timestamp('2005-10-05 00:00:00', freq='D'),
 Timestamp('2005-10-06 00:00:00', freq='D'),
 Timestamp('2005-10-07 00:00:00', freq='D'),
 Timestamp('2005-10-08 00:00:00', freq='D'),
 Timestamp('2005-10-09 00:00:00', freq='D'),
 Timestamp('2005-10-10 00:00:00', freq='D'),
 Timestamp('2005-10-11 00:00:00', freq='D'),
 Timestamp('2005-10-12 00:00:00', freq='D'),
 Timestamp('2005-10-13 00:00:00', freq='D'),
 Timestamp('2005-10-14 00:00:00', freq='D'),
 Timestamp('2005-10-15 00:00:00', freq='D'),
 Timestamp('2005-10-16 00:00:00', freq='D'),
 Timestamp('2005-10-17 00:00:00', freq='D'),
 Timestamp('2005-10-18 00:00:00', freq='D'),
 Timestamp('2005-10-19 00:00:00', freq='D'),
 Timestamp('2005-10-20 00:00:00', freq='D'),
 Timestamp('2005-10-21 00:00:00', freq='D'),
 Timestamp('2005-10-22 00:00:00', freq='D'),
 Timestamp('2005-10-23 00:00:00', freq='D'),
 Timestamp('2005-10-24 00:00:00', freq='D'),
 Timestamp('2005-10-25 00:00:00', freq='D'),
 Timestamp('2005-10-26 00:00:00', freq='D'),
 Timestamp('2005-10-27 00:00:00', freq='D'),
 Timestamp('2005-10-28 00:00:00', freq='D'),
 Timestamp('2005-10-29 00:00:00', freq='D'),
 Timestamp('2005-10-30 00:00:00', freq='D'),
 Timestamp('2005-10-31 00:00:00', freq='D'),
 Timestamp('2005-11-01 00:00:00', freq='D'),
 Timestamp('2005-11-02 00:00:00', freq='D'),
 Timestamp('2005-11-03 00:00:00', freq='D'),
 Timestamp('2005-11-04 00:00:00', freq='D'),
 Timestamp('2005-11-05 00:00:00', freq='D'),
 Timestamp('2005-11-06 00:00:00', freq='D'),
 Timestamp('2005-11-07 00:00:00', freq='D'),
 Timestamp('2005-11-08 00:00:00', freq='D'),
 Timestamp('2005-11-09 00:00:00', freq='D'),
 Timestamp('2005-11-10 00:00:00', freq='D'),
 Timestamp('2005-11-11 00:00:00', freq='D'),
 Timestamp('2005-11-12 00:00:00', freq='D'),
 Timestamp('2005-11-13 00:00:00', freq='D'),
 Timestamp('2005-11-14 00:00:00', freq='D'),
 Timestamp('2005-11-15 00:00:00', freq='D'),
 Timestamp('2005-11-16 00:00:00', freq='D'),
 Timestamp('2005-11-17 00:00:00', freq='D'),
 Timestamp('2005-11-18 00:00:00', freq='D'),
 Timestamp('2005-11-19 00:00:00', freq='D'),
 Timestamp('2005-11-20 00:00:00', freq='D'),
 Timestamp('2005-11-21 00:00:00', freq='D'),
 Timestamp('2005-11-22 00:00:00', freq='D'),
 Timestamp('2005-11-23 00:00:00', freq='D'),
 Timestamp('2005-11-24 00:00:00', freq='D'),
 Timestamp('2005-11-25 00:00:00', freq='D'),
 Timestamp('2005-11-26 00:00:00', freq='D'),
 Timestamp('2005-11-27 00:00:00', freq='D'),
 Timestamp('2005-11-28 00:00:00', freq='D'),
 Timestamp('2005-11-29 00:00:00', freq='D'),
 Timestamp('2005-11-30 00:00:00', freq='D'),
 Timestamp('2005-12-01 00:00:00', freq='D'),
 Timestamp('2005-12-02 00:00:00', freq='D'),
 Timestamp('2005-12-03 00:00:00', freq='D'),
 Timestamp('2005-12-04 00:00:00', freq='D'),
 Timestamp('2005-12-05 00:00:00', freq='D'),
 Timestamp('2005-12-06 00:00:00', freq='D'),
 Timestamp('2005-12-07 00:00:00', freq='D'),
 Timestamp('2005-12-08 00:00:00', freq='D'),
 Timestamp('2005-12-09 00:00:00', freq='D'),
 Timestamp('2005-12-10 00:00:00', freq='D'),
 Timestamp('2005-12-11 00:00:00', freq='D'),
 Timestamp('2005-12-12 00:00:00', freq='D'),
 Timestamp('2005-12-13 00:00:00', freq='D'),
 Timestamp('2005-12-14 00:00:00', freq='D'),
 Timestamp('2005-12-15 00:00:00', freq='D'),
 Timestamp('2005-12-16 00:00:00', freq='D'),
 Timestamp('2005-12-17 00:00:00', freq='D'),
 Timestamp('2005-12-18 00:00:00', freq='D'),
 Timestamp('2005-12-19 00:00:00', freq='D'),
 Timestamp('2005-12-20 00:00:00', freq='D'),
 Timestamp('2005-12-21 00:00:00', freq='D'),
 Timestamp('2005-12-22 00:00:00', freq='D'),
 Timestamp('2005-12-23 00:00:00', freq='D'),
 Timestamp('2005-12-24 00:00:00', freq='D'),
 Timestamp('2005-12-25 00:00:00', freq='D'),
 Timestamp('2005-12-26 00:00:00', freq='D'),
 Timestamp('2005-12-27 00:00:00', freq='D'),
 Timestamp('2005-12-28 00:00:00', freq='D'),
 Timestamp('2005-12-29 00:00:00', freq='D'),
 Timestamp('2005-12-30 00:00:00', freq='D'),
 Timestamp('2005-12-31 00:00:00', freq='D'),
 Timestamp('2006-01-01 00:00:00', freq='D'),
 Timestamp('2006-01-02 00:00:00', freq='D'),
 Timestamp('2006-01-03 00:00:00', freq='D'),
 Timestamp('2006-01-04 00:00:00', freq='D'),
 Timestamp('2006-01-05 00:00:00', freq='D'),
 Timestamp('2006-01-06 00:00:00', freq='D'),
 Timestamp('2006-01-07 00:00:00', freq='D'),
 Timestamp('2006-01-08 00:00:00', freq='D'),
 Timestamp('2006-01-09 00:00:00', freq='D'),
 Timestamp('2006-01-10 00:00:00', freq='D'),
 Timestamp('2006-01-11 00:00:00', freq='D'),
 Timestamp('2006-01-12 00:00:00', freq='D'),
 Timestamp('2006-01-13 00:00:00', freq='D'),
 Timestamp('2006-01-14 00:00:00', freq='D'),
 Timestamp('2006-01-15 00:00:00', freq='D'),
 Timestamp('2006-01-16 00:00:00', freq='D'),
 Timestamp('2006-01-17 00:00:00', freq='D'),
 Timestamp('2006-01-18 00:00:00', freq='D'),
 Timestamp('2006-01-19 00:00:00', freq='D'),
 Timestamp('2006-01-20 00:00:00', freq='D'),
 Timestamp('2006-01-21 00:00:00', freq='D'),
 Timestamp('2006-01-22 00:00:00', freq='D'),
 Timestamp('2006-01-23 00:00:00', freq='D'),
 Timestamp('2006-01-24 00:00:00', freq='D'),
 Timestamp('2006-01-25 00:00:00', freq='D'),
 Timestamp('2006-01-26 00:00:00', freq='D'),
 Timestamp('2006-01-27 00:00:00', freq='D'),
 Timestamp('2006-01-28 00:00:00', freq='D'),
 Timestamp('2006-01-29 00:00:00', freq='D'),
 Timestamp('2006-01-30 00:00:00', freq='D'),
 Timestamp('2006-01-31 00:00:00', freq='D'),
 Timestamp('2006-02-01 00:00:00', freq='D'),
 Timestamp('2006-02-02 00:00:00', freq='D'),
 Timestamp('2006-02-03 00:00:00', freq='D'),
 Timestamp('2006-02-04 00:00:00', freq='D'),
 Timestamp('2006-02-05 00:00:00', freq='D'),
 Timestamp('2006-02-06 00:00:00', freq='D'),
 Timestamp('2006-02-07 00:00:00', freq='D'),
 Timestamp('2006-02-08 00:00:00', freq='D'),
 Timestamp('2006-02-09 00:00:00', freq='D'),
 Timestamp('2006-02-10 00:00:00', freq='D'),
 Timestamp('2006-02-11 00:00:00', freq='D'),
 Timestamp('2006-02-12 00:00:00', freq='D'),
 Timestamp('2006-02-13 00:00:00', freq='D'),
 Timestamp('2006-02-14 00:00:00', freq='D'),
 Timestamp('2006-02-15 00:00:00', freq='D'),
 Timestamp('2006-02-16 00:00:00', freq='D'),
 Timestamp('2006-02-17 00:00:00', freq='D'),
 Timestamp('2006-02-18 00:00:00', freq='D'),
 Timestamp('2006-02-19 00:00:00', freq='D'),
 Timestamp('2006-02-20 00:00:00', freq='D'),
 Timestamp('2006-02-21 00:00:00', freq='D'),
 Timestamp('2006-02-22 00:00:00', freq='D'),
 Timestamp('2006-02-23 00:00:00', freq='D'),
 Timestamp('2006-02-24 00:00:00', freq='D'),
 Timestamp('2006-02-25 00:00:00', freq='D'),
 Timestamp('2006-02-26 00:00:00', freq='D'),
 Timestamp('2006-02-27 00:00:00', freq='D'),
 Timestamp('2006-02-28 00:00:00', freq='D'),
 Timestamp('2006-03-01 00:00:00', freq='D'),
 Timestamp('2006-03-02 00:00:00', freq='D'),
 Timestamp('2006-03-03 00:00:00', freq='D'),
 Timestamp('2006-03-04 00:00:00', freq='D'),
 Timestamp('2006-03-05 00:00:00', freq='D'),
 Timestamp('2006-03-06 00:00:00', freq='D'),
 Timestamp('2006-03-07 00:00:00', freq='D'),
 Timestamp('2006-03-08 00:00:00', freq='D'),

In [60]:
dates=dsDates

In [55]:
str(date) in dsDates

True

In [50]:
str(dates[0])

'2004-12-20 00:00:00'

In [44]:
str(date)

'2015-01-07 00:00:00'

In [4]:
dat.head()

,year,month,day,hour,minute,second,hru_1,hru_2,hru_3,hru_4,...,hru_8196,hru_8197,hru_8198,hru_8199,hru_8200,hru_8201,hru_8202,hru_8203,hru_8204,hru_8205
datetime,,,,,,,,,,,,,,,,,,,,,
2004-12-20,2004,12,20,0,0,0,0.0,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
2004-12-21,2004,12,21,0,0,0,0.0,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
2004-12-22,2004,12,22,0,0,0,0.0,0.030779,0.000000,0.160426,...,8.34631,8.708111,9.731642,9.566482,2.483852,2.367854,6.98103,5.275792,2.472068,2.887732
2004-12-23,2004,12,23,0,0,0,0.0,4.291635,3.337007,4.584321,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000
2004-12-24,2004,12,24,0,0,0,0.0,0.000000,0.000000,0.000000,...,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000

In [5]:
dat.tail()

,year,month,day,hour,minute,second,hru_1,hru_2,hru_3,hru_4,...,hru_8196,hru_8197,hru_8198,hru_8199,hru_8200,hru_8201,hru_8202,hru_8203,hru_8204,hru_8205
datetime,,,,,,,,,,,,,,,,,,,,,
2015-01-03,2015,1,3,0,0,0,10.524005,15.240544,14.692121,15.025848,...,20.794635,20.938213,20.242687,19.595702,13.147538,13.659655,12.358628,12.419685,17.806062,15.797369
2015-01-04,2015,1,4,0,0,0,2.845967,0.477940,0.596432,0.372863,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2015-01-05,2015,1,5,0,0,0,0.677320,0.118776,0.140070,0.121935,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2015-01-06,2015,1,6,0,0,0,3.652099,2.371195,2.350720,2.391178,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
2015-01-07,2015,1,7,0,0,0,0.750000,0.000000,0.005035,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000